@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
}
.Dropdown-control {
  background: transparent !important;
  color: #fff !important;
}
.Dropdown-menu {
  width: 200px !important;
}
.offers {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  min-height: 184px;
  display: flex !important;
}
.offers_1 {
  background-image: url("./assets/images/slide_1.jpg");
}
.offers_2 {
  background-image: url("./assets/images/slide_2.jpg");
}
.offers_3 {
  background-image: url("./assets/images/slide_3.jpg");
}
.upper_slide {
  background-image: url("./assets/images/images.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 26.4em;
  object-fit: cover;
}
.dropdown_mar {
  margin: 0 !important;
}
